.toggle-day {
  color: #e5e9f0;
  background: #3b4252;
  border-radius: 15px;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", cursive;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}

.toggle-day h1, .toggle-day p {
  margin: 0;
}

.toggle-day::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;opacity: 0.2;
  border-radius: 15px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #ff0066, #ffcc00, #33cc33, #0066ff);
  background-size: 400% 400%;
  animation: borderAnimation 2s linear infinite;
}


@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;    
    font-size: 16px;
}

#map {
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

.mouseposition {
    background-color: #3b4252; /* Neutral dark bluish-gray */
    padding: 3px;
    text-align: right;
    color: #e5e9f0; /* Light gray */
}

.mousepositioncoord {
    min-width: 40px;
    display: inline-block;
    color: #e5e9f0; /* Light gray */
}

div.ol-mouse-position {
    background-color: #3b4252; /* Neutral dark bluish-gray */
    padding: 6px;
    border-radius: 3px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    color: #e5e9f0; /* Light gray */
}

.ol-ctx-menu-container {
    font-size: 16px;
    background-color: #3b4252;
    color: #e5e9f0; /* Light gray */
}

.ol-scale-step-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #eceff4; /* Lighter soft white-gray */
    text-shadow:
        1px 0 0 black,
        0 1px 0 black,
        -1px 0 0 black,
        0 -1px 0 black,
        0px 0px 8px black;
}

.ol-scale-singlebar-odd {
    background: #3b4252; /* Dark bluish-gray */
}

.ol-scale-singlebar-even {
    background: #4c566a; /* Slightly lighter gray */
}

.ol-scale-bar:hover {
    border: 2px solid #ffffff; /* White border on hover */
    transition: border 0.3s ease-in-out; /* Smooth animation */
}

.toastify {
    color: #1e1e2e; /* Deep bluish dark gray */
    background: #88c0d0; /* Soft teal */
}

.ol-ctx-menu-container li {
    padding-left: 20px;
}

.menuitem-checked::before {
    content: '☑';
    width: 20px;
    display: inline-block;
    margin-left: -20px;
}

.menuitem-unchecked::before {
    content: '☐';
    width: 20px;
    display: inline-block;
    margin-left: -20px;
}
